<div style="padding-bottom: 30px;">
    <div class="card h-100">
        <a class="text-decoration-none" [routerLink] = "['/produto-detalhe', produto.id]">
            <div style="align-content: center;">
                <img src="/assets/{{ produto.imagem }}" height="164px" width="253px" alt="">
            </div>
        </a>
        <div class="card-body">
            <h4 class="card-title">{{ produto.nome | titlecase }}</h4>
            <div [ngSwitch]="produto.promocao">
                <div *ngSwitchCase="false">
                    <ng-content select=".porapenas"></ng-content>
                </div>
                <div *ngSwitchDefault>
                    <ng-content select=".promocao"></ng-content>
                </div>
            </div>
            <div>
                <h4 *ngIf="!produto.promocao">{{ produto.valor | currency:'BRL':symbol:'1.2-2':'pt' }}</h4>

                <h5 *ngIf="produto.promocao">
                    De: <small><del>{{ produto.valor | currency:'BRL':symbol:'1.2-2':'pt' }}</del></small>
                    Para: {{ produto.valorPromocao | currency:'BRL':symbol:'1.2-2':'pt' }}                            
                </h5>
            </div>
        </div>
        <div class="card-footer">
            <a class="btn btn-primary" (click)="emitirEvento()">
                <span class="fa fa-shopping-cart"></span> Comprar
            </a>
            &nbsp;
            <a [routerLink]="['editar/', produto.id]" class="btn btn-primary">Editar</a>
        </div>
    </div>
</div>